$ff_geomteria: "Geometria";
$ff_ptsans: "PT Sans";
$ff_playfair: "PlayFair";
$ff_gilroy: "Gilroy";
$ff_lato_light: "Lato-Light";
$ff_lato: "Lato"; 

$xs: 479px;
$sm: 910px; 
$md: 1199px;
$lg: 1349px; 
$lr: 1400px;

$color_red: #9e060d;



$header_height: 148px;
$header_mobile_height: 70px;


@mixin border_radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin shadow($param) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

@mixin trans($secs) {
    -webkit-transition: all $secs linear;
    -moz-transition: all $secs linear;
    -o-transition: all $secs linear;
    -ms-transition: all $secs linear;
    transition: all $secs linear;
}

@mixin b_64($val) {
    background-image: url($val);
}

@mixin base_64($val) {
    background-image: url('data:image/png;base64,' + $val);
}

@mixin base_64_important($val) {
    background-image: url('data:image/png;base64,' + $val) !important;
}

@mixin pl_color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;  
    }
} 

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}
