@mixin border_radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin shadow($param) {
    -webkit-box-shadow: $param;
    -moz-box-shadow: $param;
    box-shadow: $param;
}

@mixin trans($secs) {
    -webkit-transition: all $secs ease;
    -moz-transition: all $secs ease;
    -o-transition: all $secs ease;
    -ms-transition: all $secs ease;
    transition: all $secs ease;
}

@mixin b_64($val) {
    background-image: url($val);
}

@mixin base_64($val) {
    background-image: url('data:image/png;base64,' + $val);
}

@mixin base_64_important($val) {
    background-image: url('data:image/png;base64,' + $val) !important;
}

@mixin pl_color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

$xs: 380px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

.ms-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    &-dialog {
        left: auto;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
    }
    &-content {
        width: 100%;
        position: relative;
        outline: 0;
    }
    &-header {
        position: relative;
    }
    &-title {
        margin: 0;
        font-size: 32px;
        line-height: 36px;
        font-weight: 400;
        text-align: center;
        padding-top: 6%;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;

        //
        background-color: #000;
        color: white;
        margin-bottom: 45px;
        padding: 0;
        font-size: 28px;
        line-height: 78px;
        height: 78px;
        position: relative;
        //

        @media (max-width: $xs) {
            font-size: 22px;
            /*line-height: 24px;*/
        }
    }
    &-body {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    &-close {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -15px;
        right: 15px;
        z-index: 200;
        &:before, &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: #fff;
        }
        &:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    &-success {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: #208600;
    }
}

.ms-animate {
    @include trans(1s);
    @include translate(0, 100px);
    opacity: 0;
    &.shown {
        opacity: 1;
        @include translate(0, 0);
    }
}

.ms-form {
    &__privacy-policy {
        font-size: 16px;
        color: #ccc;
    }
    &__group {
        margin-bottom: 15px;
    }
    &__label {
        font-size: 16px;
        line-height: 36px;
        display: block;
        cursor: pointer;
    }
    &__input {
        width: 100%;
        height: 36px;
        border: 1px solid #9a9a9a;
        outline: none !important;
        padding: 0 10px;
        border-radius: 1px;
        @include trans(0.2s);
        &:focus {
            border-color: #1e87f0;
        }
    }
    textarea {
        height: 150px;
        padding: 10px;
        max-width: 100%;
    }
    input[type=submit] {
        border: 1px solid #9a9a9a;
        border-radius: 1px;
        font-size: 16px;
        height: 36px;
        line-height: 34px;
        padding: 0 15px;
        text-align: center;
        background-color: #FFF;
        outline: none;
        @include trans(0.2s);
        position: relative;
        overflow: hidden;
        &:hover {
            background-color: #1e87f0;
            border-color: #1e87f0;
            color: #fff;
        }
        &:active {
            top: 1px;
        }
    }
}



.ms2-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    &-dialog {
        margin-top: 30px;
        margin-bottom: 30px; 
        left: auto;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 874px;
        overflow: auto; 
        background-color: #fff;
    }
    &-content {
        width: 100%;
        position: relative;
        outline: 0;
    }
    &-header {
        position: relative;
    }
    &-title {
        margin: 0;
        font-size: 32px;
        line-height: 36px;
        font-weight: 400;
        text-align: center;
        padding-top: 6%;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;

        //
        background-color: #000;
        color: white;
        margin-bottom: 45px;
        padding: 0;
        font-size: 28px;
        line-height: 78px;
        height: 78px;
        position: relative;
        //

        @media (max-width: $xs) {
            font-size: 22px;
            /*line-height: 24px;*/
        }
    }
    &-body {
        width: 100%;
        margin: 0 auto;
        padding: 50px 45px; 
    }
    &-close {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        top: 15px;
        right: 15px;
        z-index: 200;
        background-image: url('/_images/modal2-close.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
    &-success {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: #208600;
    }
}